:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0.1rem;
}
